body
{
	color: black;
	margin-left: 150px; 
	margin-right: 150px;
	background-color: green;
	font-family: times new roman;
}
img 
{
	width:500px; height:300px;
	border: 30px solid #999999;
	padding: 5px;
}
