body
{
	color: white;
	background-color: #A2DEFA;
	margin-left: 150px; 
	margin-right: 150px;
	font-family: times new roman;
}
img 
{
	width:500px; height:300px;
	border: 30px solid #999999;
	padding: 5px;
}
#fied{
	position: center;
}
